{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="span12 t-center">
    <h4>Add a New Contact to MyCardContacts and Stay in Touch, No Matter What Changes.</h4>
  </div>
</div>
<div class="row">
  <div class="span10 offset1 well">
    <div class="row">
      <div class="span10 t-left">
        <h2>Find your contacts with MyCard</h2>
      </div>
    </div>
    <div class="row">
      <div class="span7 offset3 t-center">
        <form class="form-search">
          <div class="input-append">
            <input type="text" class="span5 search-query" placeholder="Full Name, Email Address, or Phone #" />
            <button type="submit" class="btn btn-info">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row row-header-room">
  <div class="span5">
    <div class="row">
      <div class="span5 t-center">
        <h3>Not There? No Problem!</h3>
      </div>
    </div>
    <div class="row">
      <div class="span5 t-left">
        <p class="lead">The best way to use MyCard is with contacts who also have MyCards, but we understand not everyone makes our lives easier! 
        Adding these contacts is still easy(and they still work great!), a few of the updating features are just left out. Try it out!</p>
        <h2 class="t-center">Try It Out!</h2>
      </div>
    </div>
  </div>
  <div class="span6 well pull-right">
    <div class="row">
      <div class="span6 t-center">
        <h2>Post A Contact!</h2>
        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label" for="inputName">Full Name</label>
            <div class="controls">
              <input type="text" id="inputName" class="input-xlarge" placeholder="Abraham Lincoln" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputEmail">Email Address</label>
            <div class="controls">
              <input type="text" id="inputEmail" class="input-xlarge" placeholder="AbeLinc@honesty.gov" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputPhone">Phone Number</label>
            <div class="controls">
              <input type="tel" id="inputPhone" class="input-xlarge" placeholder="(555)555-5555" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputNotes">Notes</label>
            <div class="controls">
              <textarea id="inputNotes" class="input-xlarge" rows="5" placeholder="Add anything you want to remember about this contact here. How you met, birthday, anniversary date, etc..."></textarea>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" />Invite to MyCard!
              </label>
            </div>
          </div>
          <div class="row">
            <div class="span4 offset1">
              <button type="submit" class="btn btn-info btn-block btn-large"><strong>Post This Contact</strong></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
