<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>{% block title %}MyContacts -- Your world, Your cloud{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
</head>
<body>
  <div class="container">
    <div class="row page-header">
      <div class="span8 offset2 t-center btn-group">
        <a class="btn active" href="{{ url_for('home') }}"><h3>View Contacts</h3></a> 
        <a class="btn" href="{{ url_for('addnew') }}"><h3>Add Contact</h3></a> 
        <a class="btn btn-info" href="{{ url_for('profile') }}"><h3>MyContact</h3></a> 
      </div>
    </div>
    {% block content %}{% endblock %}
  </div>
</body>
</html>
