{% extends "base.html" %}
{% block content %}
<div class="row row-header-room">
  <div class="span6 offset3 well">
    <div class="row">
      <div class="span4 t-left">
        <ul class="unstyled">
          <li>Joe Roszkowski</li>
          <li>(555)123-4567</li>
          <li>Joe@CanopyInnovation.com</li>
        </ul>
      </div>
      <div class="span2 t-center">
        <img src="http://placehold.it/125x125" />
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span6 offset5 t-center">
    <h4>Make sure this Information is up to date?</h4>
  </div>
</div>
<div class="row">
  <div class="span4 offset6 t-center">
    <button type="button" class="btn btn-info btn-block"><strong>Request An Update!</strong></button>
  </div>
</div>
<div class="row">
  <div class="span11 offset1 t-left">
    <h2>View More:</h2>
    <div class="row">
      <div class="span10 well">
        <div class="row">
          <div class="span6 offset2 t-center">    
            <ul class="nav nav-pills">
              <li class="active"><a href="#"><h3>MyNotes</h3></a></li>
              <li><a href="#"><h3>Ways to Contact</h3></a></li>
              <li><a href="#"><h3>Details</h3></a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="span6 offset2 t-center">
            <p class="lead">I met this person blah blah blah blah blah. A bunch of example text.
            This website is so super duper awesome. These are great notes to take too.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
