{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="span8 offset2 t-left">
    <h2>MyContact Card <small>your primary contact info</small></h2>
  </div>
</div>
<div class="row">
  <div class="span8 offset2 well">
    <div class="row">
      <div class="span5">
      {% if user_details %}
        <address>
          <h3>{{ user_details.name }}</h3>
          <strong>{{ user_details.primary_phone }}</strong><br />
          <strong>{{ user_details.login_email }}</strong>
        </address>
      {% else %}
        <address>
          <h3>Oops!</h3>
          <strong>Sorry, An Error has occured</strong>
        </address>
      {% endif %}
      </div>
      <div class="span3">
          <img src="http://placehold.it/125x125" />
      </div>
    </div>
    <div class="row row-header-room">
      <div class="span4 offset2">
        <a href="{{ url_for('update_profile') }}" class="btn btn-info btn-block btn-large">edit MyContact card</a>
      </div>
    </div>
  </div>
</div>  
<div class="row row-header-room">
  <div class="span10 offset1">
    <h2>Talk <small>all the ways to get a hold of and speak to you</small></h2>
  </div>
</div>
<div class="row">
  <div class="span3 well">
    <h4 class="t-center">Phone</h4>
    <div class="row">
      <div class="span3 t-left">
        <dl>
          <dt>Primary
          <dd>{{ user_details.primary_phone }}
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="span2 offset1 t-center">
        <a href="{{ url_for('update_profile') }}" class="btn btn-info pull-right">Update</a>
      </div>
    </div>
  </div>
  <div class="span3 well">
    <h4 class="t-center">Add More</h4>
    <div class="row">
      <div class="span3 t-left">
        <ul class="unstyled">
          <li>Add more ways to contact you!</li>
          <li>Create any groups, categories, or lists you would like!</li>
        </ul>  
      </div>
    </div>
    <div class="row">
      <div class="span2 offset1 t-center">
        <a href="{{ url_for('update_profile') }}" class="btn btn-info pull-right">Add Info!</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span10 offset1 t-center">
    <hr />
  </div>
</div>
<div class="row">
  <div class="span10 offset1">
    <h2>Message <small>instant messaging, email, anyway to shoot you a message</small></h2>
  </div>
</div>
<div class="row">
  <div class="span3 well">
    <h4 class="t-center">Email</h4>
    <div class="row">
      <div class="span3 t-left">
        <dl>
          <dt>Primary
          <dd>{{ user_details.login_email }}
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="span2 offset1 t-center">
        <a href="{{ url_for('update_profile') }}" class="btn btn-info pull-right">Update</a>
      </div>
    </div>
  </div>
  <div class="span3 well">
    <h4 class="t-center">Add More</h4>
    <div class="row">
      <div class="span3 t-left">
        <ul class="unstyled">
          <li>Add more ways to contact you!</li>
          <li>Create any groups, categories, or lists you would like!</li>
        </ul>  
      </div>
    </div>
    <div class="row">
      <div class="span2 offset1 t-center">
        <a href="{{ url_for('update_profile') }}" class="btn btn-info pull-right">Add Info!</a>
      </div>
    </div>
  </div>
 </div>
</div>
{% endblock %}
