{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="span8 offset2 t-left">
    <h2>MyContact Card <small>your primary contact info</small></h2>
  </div>
</div>
<div class="row">
  <div class="span8 offset2 well">
    <div class="row">
      <div class="span5">
        <address>
          <h3>Joe Roszkowski</h3>
          <strong>(813)765-4975</strong><br />
          <strong>joeroszkowski@gmail.com</strong>
        </address>
      </div>
      <div class="span3">
          <img src="http://placehold.it/125x125" />
      </div>
    </div>
    <div class="row row-header-room">
      <div class="span4 offset2">
        <button class="btn btn-info btn-block btn-large" type="button">edit MyContact card</button>
      </div>
    </div>
  </div>
</div>  
<div class="row row-header-room">
  <div class="span10 offset1">
    <h2>Talk <small>all the ways to get a hold of and speak to you</small></h2>
  </div>
</div>
<div class="row">
  <div class="span3 well">
    <h4 class="t-center">Phone</h4>
    <div class="row">
      <div class="span3 t-left">
        <dl>
          <dt>Cell
          <dd>(813)765-4975
          <dt>Home
          <dd>(813)765-4975
          <dt>Work
          <dd>(813)653-1554
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="span2 offset1 t-center">
        <button class="btn btn-info pull-right" type="button">Update</button>
      </div>
    </div>
  </div>
  <div class="span3 well">
    <h4 class="t-center">Video Chat / VOIP</h4>
    <div class="row">
      <div class="span3 t-left">
        <dl>
          <dt>Skype
          <dd>Jroszkow7
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="span2 offset1 t-center">
        <button class="btn btn-info pull-right" type="button">Update</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span10 offset1 t-center">
    <hr />
  </div>
</div>
<div class="row row-header-room">
  <div class="span10 offset1">
    <h2>Message <small>instant messaging, email, anyway to shoot you a message</small></h2>
  </div>
</div>
<div class="row">
  <div class="span3 well">
    <h4 class="t-center">Email</h4>
    <div class="row">
      <div class="span3 t-left">
        <dl>
          <dt>General
          <dd>Joeroszkowski@gmail.com
          <dt>Work
          <dd>Joe@CanopyInnovation.com
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="span2 offset1 t-center">
        <button class="btn btn-info pull-right" type="button">Update</button>
      </div>
    </div>
  </div>
  <div class="span3 well">
    <h4 class="t-center">Instant Messaging (IM)</h4>
    <div class="row">
      <div class="span3 t-left">
        <dl>
          <dt>Skype
          <dd>Jroszkow7
          <dt>AIM
          <dd>Joey2714
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="span2 offset1 t-center">
        <button class="btn btn-info pull-right" type="button">Update</button>
      </div>
    </div>
  </div>
  <div class="span3 well">
    <h4 class="t-center">Other</h4>
    <div class="row">
      <div class="span3 t-left">
        <dl>
          <dt>iMessage
          <dd>Jroszkow@mail.usf.edu
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="span2 offset1 t-center">
        <button class="btn btn-info pull-right" type="button">Update</button>
      </div>
    </div>
  </div>
 </div>
</div>
{% endblock %}
