<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Easily Protect and Manage your Personal Identity and Contact Lists</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
</head>
<body>
<div class="container">
  <div class="row">
    <div class="span2 offset10">
      <button class="btn btn-danger btn-block" type="button">Try It Free!</button>
    </div>
  </div>
  <div class="row">
    <div class="span12 page-header">
      <div class="row">
        <div class="span4 offset4 t-center">
          <h3>MyContacts</h3>
        </div>
      </div>
      <div class="row">
        <div class="span12 t-center">
          <h1>The Future of Global Contact and Identity Management</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span10 offset1 t-center">
      <p class="lead">MyContacts is a new approach to social and identity management. It simplifies
      the bogged-down process of updating the people you want to notify when your information gets
      updated, and blocking your information from the people you don't.</p>
    </div>
  </div>
  <div class="row row-header-room">
    <div class="span6">
      <div class="row">
        <div class="span6 t-center">
          <h3>Screenshot</h3>
        </div>
      </div>
      <div class="row">
        <div class="span6 t-center">
          <img src="http://placehold.it/400x400" />
        </div>
      </div>
    </div>
    <div class="span6 t-center testerme well">
      <h3>Get Started in Seconds!</h3>
      <div class="row">
          <div class="span">
          </div>
      </div>
      
      <form class="form-horizontal">
        <div class="control-group">
          <label class="control-label" for="inputName">Name</label>
          <div class="controls">
            <input type="text" id="inputName" class="input-xlarge" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
